@import '../../styles/settings.scss';

.enjoy {
  max-width: 100%;
  background: url(../../images/patterns/pattern-curve-top-right.svg) no-repeat;
  background-position: bottom left;
  background-position-y: 82%;
}

.enjoy__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;

  .enjoy__description {
    max-width: 30rem;

    h2 {
      margin: 1rem 0;
      margin-top: 4rem;
    }
  }
}

.enjoy__img {
  background: url("../../images/homepage/enjoyable-place-desktop.jpg");
  filter: drop-shadow(0rem 2rem 2rem rgba(0, 0, 0, 0.5));

  flex-basis: 33.5rem;
  height: 45rem;
  margin-top: -4.1rem;
}
