@import '../../styles/settings.scss';

.enjoy {
  max-width: 100%;
  background: url(../../images/patterns/pattern-curve-top-right.svg) no-repeat;
  background-position: bottom left;
  background-position-y: 76%;
  background-position-x: -3%;
  color: $mirage;
}

.pattern {
  cursor: default;
}

.enjoy__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;

  .enjoy__description {
    max-width: 30rem;

    h2 {
      margin: 2rem 0;
      margin-top: 3.2rem;
    }
  }
}

.enjoy__img {
  background: url(../../images/homepage/enjoyable-place-desktop.jpg);
  filter: drop-shadow(0rem 2rem 2rem rgba(0, 0, 0, 0.4));

  flex-basis: 33.5rem;
  height: 45rem;
  margin-top: -4.1rem;
}


// --------------- MEDIA ---------------

@media screen and (max-width: 480px) {

  .enjoy {
    background: none;
  }

  .enjoy__content {
    flex-direction: column;
    padding: 0 5%;

    .enjoy__description {
      max-width: 100%;
    }

    h2 {
      font-size: 2rem;
      line-height: 2.5rem;
      margin-top: 2rem !important;
      margin-bottom: 1rem !important;
    }

    p {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }

  .enjoy__img {
    background: url(../../images/homepage/enjoyable-place-mobile.jpg) no-repeat;
    background-position-x: center;
    width: 100%;
    max-height: 27.8rem;
    margin-top: -4.45rem;
  }

  .enjoy__content{
    text-align: center;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {

  .enjoy {
    background-position: top left;
    background-position-y: 37%;
    background-position-x: 406%;
  }

  .enjoy__content {
    flex-direction: column;
    padding: 0 12.5%;
    text-align: center;
  }

  .enjoy__img {
    background: url(../../images/homepage/enjoyable-place-tablet.jpg) no-repeat;
    background-position-x: center;
    width: 100%;
    max-height: 27.8rem;
    margin-top: -6rem;
  }

  .enjoy__description {
    margin-top: -2.1rem;

    h2 {
      font-size: 3rem;
      line-height: 2.9rem;
      margin-top: 2.4rem !important;
      margin-bottom: 1rem !important;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.8rem;
      margin-top: 1.8rem;
    }
  }
}
