@import '../../styles/settings.scss';

.highlights {
  max-width: 100%;
  min-height: 47.5rem;
  display: grid;
  align-items: center;
  background-color: $cod-gray;
  color: $white;
  margin-top: -0.9rem;
}

.highlights__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.highlights__description {
  max-width: 30rem;
  margin-bottom: 4rem;

    h2 {
      margin-top: 3rem;
      margin-bottom: 2rem;
    }
}

.highlights__list {
  display: flex;
  flex-direction: column;
  margin-top: 8.9rem;
}

.icon {
  background: url(../../images/icons/icon-minus.svg);
  max-width: 93%;
  height: 0.06rem;
  margin: 1.6rem 0;
}

.highlights__list__el {
  display: flex;
  justify-content: space-between;
}

.highlights__list__el__info {
  width: 24rem;
  display: grid;
  align-items: center;
  margin-right: 1.3rem;
}

.highlights__list__images {
  display: flex;
}

.highlights__list__img__1 {
  background: url(../../images/homepage/salmon-desktop-tablet@2x.jpg);
  background-position: center;
  background-size: cover;
  width: 8rem;
  height: 6rem;
}

.highlights__list__img__2 {
  background: url(../../images/homepage/beef-desktop-tablet@2x.jpg);
  background-position: center;
  background-size: cover;
  width: 8rem;
  height: 6rem;
}

.highlights__list__img__3 {
  background: url(../../images/homepage/chocolate-desktop-tablet@2x.jpg);
  background-position: center;
  background-size: cover;
  width: 8rem;
  height: 6rem;
}

.highlights__list_line {
  background: url(../../images/icons/icon-minus.svg) no-repeat;
  background-position: center;
  background-size: cover;
  width: 2rem;
  height: 0.06rem;
  margin-right: 1.99rem;
  margin-left: -0.1rem;
  margin-top: 1.26rem;
}
