@import '../../styles/settings.scss';

.locally {
  max-width: 100%;
  background: url(../../images/patterns/pattern-curve-top-left.svg) no-repeat;
  background-position: bottom right;
  background-position-y: 90%;
  margin-top: 8%;
  padding: 0 10%;
}

.locally__content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .pattern {
    margin-top: 3rem;
    margin-bottom: 3rem;
    cursor: default;
  }

  .locally__description {
    max-width: 29rem;

    h2 {
      margin-bottom: 2.2rem;
    }
  }
}

.locally__img {
  background: url(../../images/homepage/locally-sourced-desktop.jpg);
  filter: drop-shadow(0rem 2rem 2rem rgba(0, 0, 0, 0.4));

  flex-basis: 33.5rem;
  height: 45rem;
  margin-bottom: -4.1rem;
  margin-right: 1.5rem;
}

.pattern__lines {
  position: absolute;
  right: -22%;
  top: 36.5%;
  cursor: default;
}


// --------------- MEDIA ---------------

@media screen and (max-width: 480px) {

  .locally {
    padding: 0;
    background: none;
  }

  .locally__content {
    flex-direction: column-reverse;
    padding: 0 5%;

    .locally__description {
      max-width: 100%;
    }

    h2 {
      font-size: 2rem;
      line-height: 2.5rem;
      margin-top: 2rem !important;
      margin-bottom: 1rem !important;
    }

    p {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }

  .locally__img {
    background: url(../../images/homepage/locally-sourced-mobile.jpg) no-repeat;
    background-position-x: center;
    width: 100%;
    max-height: 27.8rem;
    margin: 0;
    margin-top: 3.25rem;
  }

  .pattern {
    margin: 0 !important;
  }

  .locally__content{
    text-align: center;
  }

  .pattern__lines {
    display: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {

  .locally {
    min-height: 46rem;
    margin-top: 10.8rem;
    background-position: bottom right;
    background-position-y: 96.5%;
    background-position-x: -308%;
    padding: 0 12.5%
  }

  .locally__content {
    flex-direction: column-reverse;
    text-align: center;
  }

  .locally__img {
    background: url(../../images/homepage/locally-sourced-tablet.jpg) no-repeat;
    background-position-x: center;
    width: 100%;
    max-height: 27.8rem;
    margin-top: -4.45rem;
    margin-right: 0;
  }

  .pattern__lines {
    right: -10%;
    top: 51.2%;
  }

  .locally__description {
    margin-top: -0.8rem;

    h2 {
      font-size: 3rem;
      line-height: 2.9rem;
      margin-top: -0.7rem !important;
      margin-bottom: 1rem !important;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.8rem;
      margin-top: 1.9rem;
      min-width: 30rem;
    }
  }
}
