@import '../../styles/settings.scss';

.header {
  max-width: 100%;
  min-height: 51.25rem;
  display: flex;
  flex-direction: column;
  gap: 9rem;
  padding-left: 10%;
  padding-top: 4.15rem;
  color: $white;

  background: url('../../images/homepage/hero-bg-desktop.jpg');
}

.header__title {
  font-size: 2.3rem;
}

.header__description {
  display: flex;
  flex-direction: column;
}

.header__h1 {
  font-weight: 300;
  font-size: 5rem;
  line-height: 5rem;
  margin-bottom: 0.6rem;
}

.header__p {
  max-width: 28rem;
  font-size: 1.27rem;
  font-weight: 300;
  line-height: 1.95rem;
  margin: 0;
  margin-bottom: 3.9rem;
}


// --------------- MEDIA ---------------

@media screen and (max-width: 480px) {

  .header {
    padding: 0 3%;
    text-align: center;
    background: url(../../images/homepage/hero-bg-mobile.jpg);
    background-position: center;
    min-height: 46.7rem;
    gap: 1.8rem;
  }

  .header__title {
    margin-top: 14.5rem;
    font-size: 1.9rem;
  }

  .header__h1 {
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1.1rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {

  .header {
    text-align: center;
    background: url(../../images/homepage/hero-bg-tablet.jpg);
    background-position: center;
    min-height: 62rem;
    padding: 0 12.5%;
    gap: 1.7rem;
  }

  .header__h1 {
    font-size: 3rem;
    line-height: 4rem;
  }

  .header__title {
    margin-top: 23.4rem;
    font-size: 2.1.2rem;
  }

  .header__description {
    align-items: center;
    gap: 0.7rem;
  }

  .header__p {
    max-width: 100%;
  }
}
