//  PRIMARY COLORS
$beaver: hsl(27, 22%, 51%);
$cod-gray: hsl(0, 0%, 7%);


//  SECONDARY COLORS
$mirage: hsl(234, 30%, 13%);
$ebony-clay: hsl(218, 21%, 18%);
$shuttle-gray: hsl(217, 14%, 42%);


//  OTHER COLORS
$error: hsl(0, 100%, 53%);
$white: hsl(0, 100%, 100%);


// ---------------------------------


$font-text: 'League Spartan', sans-serif;

$base-size: 1rem;
$radius: 5px;
$transition: all 0.5s;
