@import './settings.scss';
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;700&display=swap');

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.head__text {
  font-weight: 700;
  font-size: 1.25rem;
}

.p__text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  letter-spacing: 0.05rem;
}

.text__M {
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 3rem;
}

.text__L {
  font-weight: bold;
  font-size: 3rem;
  line-height: 3rem;
}

.p__list {
  font-size: 0.98rem;
  letter-spacing: 0.06rem;
  font-weight: 300;
  margin: 0;
  line-height: 1.5rem;
}
