@import '../../styles/settings.scss';

.event__display__family {
  display: none;
}

.events__family {
  padding: 10% 0;
  max-width: 100%;
  height: 57.5rem;

  background: url(../../images/patterns/pattern-curve-top-right.svg) no-repeat;
  background-position: top left;
  background-position-x: -24rem;
}

.events__content__img__family {
  background: url(../../images/homepage/family-gathering-desktop.jpg);
  filter: drop-shadow(0rem 2rem 2rem rgba(0, 0, 0, 0.4));
  flex-basis: 33.7rem;
  height: 37.5rem;
  position: relative;
  top: 1rem;

  .pattern__lines__family {
    position: absolute;
    left: -3rem;
    top: -2.4rem;
    cursor: default;
  }
}

.events__content__family {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;

  .events__description__family {
    max-width: 30rem;
    margin-bottom: 3.4rem;
    margin-right: 0.5rem;

    h2 {
      margin: 1rem 0;
      margin-top: 4rem;
    }
  }
}

.events__buttons__family {
  margin-top: 5rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 11.2rem;
  gap: 1.5rem;
  }

.nav__family {
  text-transform: uppercase;
  border: none;
  background: transparent;
  cursor: pointer;
  word-spacing: 0.188rem;
  letter-spacing: 0.125rem;
  font-family: $font-text;
  font-size: 1rem;
  color: $light-gray;

  &:hover,
  &:focus {
    color: $black;
  }
}

.nav__family__active {
  text-transform: uppercase;
  border: none;
  background: transparent;
  cursor: pointer;
  word-spacing: 0.188rem;
  letter-spacing: 0.125rem;
  font-family: $font-text;
  font-size: 1rem;
}

.button__line {
  display: flex;
  align-items: center;
    img {
      margin-left: -10rem;
      height: 0.1rem;
      width: 10rem;
      cursor: default;
    }
}


// --------------- MEDIA ---------------

@media screen and (max-width: 480px) {

  .events__family {
    margin-top: 1.45rem;
    background: none;
    height: 100%;
    padding-bottom: 7.5rem;
  }

  .events__content__img__family {
    background: url(../../images/homepage/family-gathering-mobile.jpg) no-repeat;
    background-position-x: center;
    width: 100%;
    max-height: 27.8rem;

    .pattern__lines__family {
      display: none;
    }
  }

  .events__content__family {
    flex-direction: column;
    padding: 0 5%;
    text-align: center;

    .events__description__family {
      margin: 0;
      padding-top: 1rem;
      max-width: 22rem;

      h2 {
        font-size: 2rem;
        line-height: 2.5rem;
        margin-top: 0 !important;
        margin-bottom: 1rem !important;
      }

      p {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
  }

  .events__buttons__family {
    align-items: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
  }

  .button__line {
    display: none;
  }
}
