@import '../../styles/settings.scss';

.bookingform {
  width: 33.75rem;
  height: 34.063rem;
  background: $white;
  position: relative;
  text-align: center;
  font-size: 1.3rem;
  left: 45.5rem;
  top: -26.5rem;

  filter: drop-shadow(0rem 2rem 2rem rgba(0, 0, 0, 0.4));
}

.bookingform__text {
  padding: 2% 10%;
  display: flex;
  flex-direction: column;

  input {
    padding: 0 5%;
    height: 5rem;
    border: none;
    outline: none;
    border-bottom: 1px solid $shuttle-gray;
    font-family: $font-text;
    font-size: 1.3rem;
    font-weight: 300;

    &:focus::placeholder {
      color: $error;
    }

    &:focus:invalid {
      color: $error;
      border: none;
      outline: none;
      border-bottom: 1px solid $error;
    }

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 62.5rem $white inset;
    }
  }
}

.bookingform__numbers {
  padding: 3% 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  input {
    text-align: center;
    width: 5rem;
    height: 3rem;
    border: none;
    outline: none;
    border-bottom: 1px solid $shuttle-gray;
    font-family: $font-text;
    font-size: 1.3rem;
    margin: 2% 1%;

    &:focus::placeholder {
      color: $error;
    }

    &:focus:invalid {
      color: $error;
      border: none;
      outline: none;
      border-bottom: 1px solid $error;
    }

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 62.5rem $white inset;
    }
  }
}

.select {
  text-align: center;
  height: 3rem;
  width: 5.5rem;
  border: none;
  outline: none;
  border-bottom: 1px solid $shuttle-gray;
  font-family: $font-text;
  font-size: 1.3rem;

  background: url(../../images/icons/icon-arrow-down.svg) no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  appearance: none;
}

.black {
  text-transform: uppercase;
  border: none;
  background: $black;
  border: 1px solid $black;
  color: $white;
  padding: 1.5rem 8rem;
  cursor: pointer;
  word-spacing: 3px;
  letter-spacing: 2px;
  font-family: $font-text;
  font-size: 1rem;
  margin: 1rem;

  &:hover,
  &:focus {
    color: $black;
    box-shadow: inset 0 0 0 2em $white;
  }
}

.option__active {
  background: url(../../images/icons/icon-check.svg) no-repeat;
  background-position-x: 0%;
  background-position-y: 50%;
}


// --------------- MEDIA ---------------

@media screen and (max-width: 326px) {

  .bookingform {
    width: 15.438rem !important;
  }

  label {
    margin-right: 3rem !important;
    margin-top: 2rem;
  }

  input#day {
    width: 30%;
  }

  input#month {
    width: 30%;
  }

  input#year {
    width: 30%;
  }

  input#hour {
    width: 30%;
  }

  input#minute {
    width: 25%;
  }

  select#meridiem.select {
    width: 35%;
  }

  .bookingform__numbers {
    margin-bottom: 2.5rem;
  }

  .black {
    padding: 1.5rem 2rem !important;
    font-size: 0.8rem !important;
  }
}

@media screen and (max-width: 480px) {

  .bookingform {
    width: 20.438rem;
    height: 36.563rem;
    left: 0rem;
    top: 0rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8.6rem;
  }

  .bookingform__numbers {
    justify-content: none;
  }

  label {
    margin-right: 10rem;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {

  .bookingform {
    width: 33.75rem;
    height: 34.063rem;
    left: 0rem;
    top: 0rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8.6rem;
  }

  .black {
    padding: 1.5rem 8rem !important;
  }
}
