@import '../../styles/settings.scss';

.bookingform {
  width: 33.75rem;
  height: 34.063rem;
  background: $white;
  position: relative;
  left: 45.5rem;
  top: -26.5rem;

  filter: drop-shadow(0rem 2rem 2rem rgba(0, 0, 0, 0.5));
  text-align: center;
  font-size: 1.3rem;
}

.bookingform__text {
  padding: 2% 10%;
  display: flex;
  flex-direction: column;
    input {
    padding: 0 5%;
    height: 5rem;
    border: none;
    outline: none;
    border-bottom: 1px solid $shuttle-gray;
    font-family: $font-text;
    font-size: 1.3rem;
    font-weight: 300;
    }
}

.bookingform__numbers {
  padding: 3% 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;


  input {
    font-family: $font-text;
    width: 5rem;
    height: 3rem;
    border: none;
    outline: none;
    border-bottom: 1px solid $shuttle-gray;
    margin: 2% 1%;
    text-align: center;
    font-size: 1.3rem;
  }

  select {
    font-family: $font-text;
    height: 3rem;
    width: 5.5rem;
    border: none;
    outline: none;
    border-bottom: 1px solid $shuttle-gray;
    text-align: center;
    font-size: 1.3rem;
    background: url(../../images/icons/icon-arrow.svg) no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
    appearance: none;
  }
}

.black {
  text-transform: uppercase;
  border: none;
  background: $black;
  border: 1px solid $black;
  color: $white;
  padding: 1.5rem 8rem;
  cursor: pointer;
  word-spacing: 3px;
  letter-spacing: 2px;
  font-family: $font-text;
  font-size: 1rem;
  margin: 1rem;

  &:hover,
  &:focus {
    color: $black;
    box-shadow: inset 0 0 0 2em $white;
  }
}
