@import '../../styles/settings.scss';

.footer {
  max-width: 100%;
  display: flex;
  flex-direction: column;

  h2 {
    color: $white;
  }
}

.footer__content {
  height: 15rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  background: url(../../images/homepage/ready-bg-mobile.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}


// --------------- MEDIA ---------------

@media screen and (max-width: 480px) {
  
  .footer__content {
    flex-direction: column;
    text-align: center;
    height: 20.5rem;
    justify-content: center;
    gap: 1.5rem;

    h2 {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }
}
